.description {
  position: relative;

  &::after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 2rem;
  }

  &.lightMode::after {
    background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0rem, rgba(0, 0, 0, 0) 0.75rem, rgba(255, 255, 255, 1) 2rem);
  }
  &.darkMode::after {
    background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0rem, rgba(0, 0, 0, 0) 0.75rem, rgba(18, 18, 18, 1) 2rem);
  }
}

.container {
  &:hover,
  &.selected {
    cursor: pointer;
    &.lightMode {
      background-color: rgba(0, 0, 0, 0.1);

      .description::after {
        background: linear-gradient(
          180deg,
          rgba(0, 0, 0, 0) 0rem,
          rgba(0, 0, 0, 0) 0.75rem,
          rgba(229, 229, 229, 1) 2rem
        );
      }
    }
    &.darkMode {
      background-color: rgba(255, 255, 255, 0.2);

      .description::after {
        background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0rem, rgba(0, 0, 0, 0) 0.75rem, rgba(65, 65, 65, 1) 2rem);
      }
    }
  }
}
