@import "../../styles/breakpoints";

.downloadPopupContainer {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 5;
  display: flex;
  align-items: center;
  justify-content: center;
}

.downloadPopup {
  width: 980px;
  height: 500px;
  box-sizing: border-box;

  @include lg-down {
    width: 756px;
  }

  @include md-down {
    width: calc(100vw - 30px);
  }
}
