.seasonTabs {
  display: flex;
  width: 100%;

  .grow {
    flex: 1;
  }

  .tabs {
    flex: 1;
  }

  .randomEpisode {
    display: flex;
    flex: 1;
    justify-content: flex-end;
    align-items: center;
  }
}
