.patreon {
  display: flex;
}

.pfp {
  border-radius: 100%;
}

.infoContainer {
  height: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: left;
  padding-left: 10px;
}

.name {
  font-weight: bold;
}
