.patreon ***REMOVED***
  display: flex;
***REMOVED***

.pfp ***REMOVED***
  border-radius: 100%;
***REMOVED***

.infoContainer ***REMOVED***
  height: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: left;
  padding-left: 10px;
***REMOVED***

.name ***REMOVED***
  font-weight: bold;
***REMOVED***
